Flask
fyers_apiv3
python-dotenv
gunicorn
Flask-Cors
google-generativeai
requests
flask-sock
simple-websocket
pandas # For data handling in backtesting
numpy # For numerical operations in backtesting
TA-Lib # For technical analysis indicators
